In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
food = pd.read_csv('data/food_ratings.csv')

In [12]:
food

,student,broccoli,brussels_sprouts,hamburger,oysters (raw),onion (raw),peas,olives,blue_cheese,whisky
0,Akbar,7,0,5,2,3,4,8,8,7
1,Andreas,7,7,8,1,7,3,3,5,7
2,Dónal,8,6,8,5,1,5,8,10,10
3,Hana,5,8,8,8,5,7,9,8,7
4,Konstantinos,5,7,1,0,7,8,10,2,7
5,Kristina,9,8,5,0,7,7,9,4,7
6,Sabrina,6,8,10,0,8,8,10,0,2
7,Sandrine,10,2,8,0,5,8,10,10,0
8,Sevgi,6,2,9,0,5,7,10,0,0
9,Rias,8,6,8,5,0,6,8,8,10
10,Ben,8,8,5,4,5,9,10,9,10
11,Joan,6,0,8,0,7,2,8,9,6

In [11]:
food.drop(['age','favorite_color'],axis=1,inplace = True)

In [32]:
    
for index, row in food.iterrows():
    for i in range((index+1),12):

        # distance user 1 and user 2 for broccoli
        distance1 = abs(row.iloc[1] - food.iloc[i,1])
        distance2 = abs(row.iloc[2] - food.iloc[i,2])
        distance3 = abs(row.iloc[3] - food.iloc[i,3])
        total = distance1 + distance2 + distance3
        print(f"Distance for {row.iloc[0]} and {food.iloc[i].student} is {total}")

Distance for Akbar and Andreas is 10
Distance for Akbar and Dónal is 10
Distance for Akbar and Hana is 13
Distance for Akbar and Konstantinos is 13
Distance for Akbar and Kristina is 10
Distance for Akbar and Sabrina is 14
Distance for Akbar and Sandrine is 8
Distance for Akbar and Sevgi is 7
Distance for Akbar and Rias is 10
Distance for Akbar and Ben is 9
Distance for Akbar and Joan is 4
Distance for Andreas and Dónal is 2
Distance for Andreas and Hana is 3
Distance for Andreas and Konstantinos is 9
Distance for Andreas and Kristina is 6
Distance for Andreas and Sabrina is 4
Distance for Andreas and Sandrine is 8
Distance for Andreas and Sevgi is 7
Distance for Andreas and Rias is 2
Distance for Andreas and Ben is 5
Distance for Andreas and Joan is 8
Distance for Dónal and Hana is 5
Distance for Dónal and Konstantinos is 11
Distance for Dónal and Kristina is 6
Distance for Dónal and Sabrina is 6
Distance for Dónal and Sandrine is 6
Distance for Dónal and Sevgi is 7
Distance for Dónal and Rias is 0
Distance for Dónal and Ben is 5
Distance for Dónal and Joan is 8
Distance for Hana and Konstantinos is 8
Distance for Hana and Kristina is 7
Distance for Hana and Sabrina is 3
Distance for Hana and Sandrine is 11
Distance for Hana and Sevgi is 8
Distance for Hana and Rias is 5
Distance for Hana and Ben is 6
Distance for Hana and Joan is 9
Distance for Konstantinos and Kristina is 9
Distance for Konstantinos and Sabrina is 11
Distance for Konstantinos and Sandrine is 17
Distance for Konstantinos and Sevgi is 14
Distance for Konstantinos and Rias is 11
Distance for Konstantinos and Ben is 8
Distance for Konstantinos and Joan is 15
Distance for Kristina and Sabrina is 8
Distance for Kristina and Sandrine is 10
Distance for Kristina and Sevgi is 13
Distance for Kristina and Rias is 6
Distance for Kristina and Ben is 1
Distance for Kristina and Joan is 14
Distance for Sabrina and Sandrine is 12
Distance for Sabrina and Sevgi is 7
Distance for Sabrina and Rias is 6
Distance for Sabrina and Ben is 7
Distance for Sabrina and Joan is 10
Distance for Sandrine and Sevgi is 5
Distance for Sandrine and Rias is 6
Distance for Sandrine and Ben is 11
Distance for Sandrine and Joan is 6
Distance for Sevgi and Rias is 7
Distance for Sevgi and Ben is 12
Distance for Sevgi and Joan is 3
Distance for Rias and Ben is 5
Distance for Rias and Joan is 8
Distance for Ben and Joan is 13

In [34]:
for index, row in food.iterrows():
    for i in range((index+1),12):

        # distance user 1 and user 2 for broccoli
        distance1 = (row.iloc[1] - food.iloc[i,1]) ** 2
        distance2 = (row.iloc[2] - food.iloc[i,2]) ** 2
        distance3 = (row.iloc[3] - food.iloc[i,3]) ** 2
        total = round((distance1 + distance2 + distance3) ** (1/2),4)
        print(f"Distance for {row.iloc[0]} and {food.iloc[i].student} is {total}")

Distance for Akbar and Andreas is 7.6158
Distance for Akbar and Dónal is 6.7823
Distance for Akbar and Hana is 8.775
Distance for Akbar and Konstantinos is 8.3066
Distance for Akbar and Kristina is 8.2462
Distance for Akbar and Sabrina is 9.4868
Distance for Akbar and Sandrine is 4.6904
Distance for Akbar and Sevgi is 4.5826
Distance for Akbar and Rias is 6.7823
Distance for Akbar and Ben is 8.0623
Distance for Akbar and Joan is 3.1623
Distance for Andreas and Dónal is 1.4142
Distance for Andreas and Hana is 2.2361
Distance for Andreas and Konstantinos is 7.2801
Distance for Andreas and Kristina is 3.7417
Distance for Andreas and Sabrina is 2.4495
Distance for Andreas and Sandrine is 5.831
Distance for Andreas and Sevgi is 5.1962
Distance for Andreas and Rias is 1.4142
Distance for Andreas and Ben is 3.3166
Distance for Andreas and Joan is 7.0711
Distance for Dónal and Hana is 3.6056
Distance for Dónal and Konstantinos is 7.6811
Distance for Dónal and Kristina is 3.7417
Distance for Dónal and Sabrina is 3.4641
Distance for Dónal and Sandrine is 4.4721
Distance for Dónal and Sevgi is 4.5826
Distance for Dónal and Rias is 0.0
Distance for Dónal and Ben is 3.6056
Distance for Dónal and Joan is 6.3246
Distance for Hana and Konstantinos is 7.0711
Distance for Hana and Kristina is 5.0
Distance for Hana and Sabrina is 2.2361
Distance for Hana and Sandrine is 7.8102
Distance for Hana and Sevgi is 6.1644
Distance for Hana and Rias is 3.6056
Distance for Hana and Ben is 4.2426
Distance for Hana and Joan is 8.0623
Distance for Konstantinos and Kristina is 5.7446
Distance for Konstantinos and Sabrina is 9.1104
Distance for Konstantinos and Sandrine is 9.9499
Distance for Konstantinos and Sevgi is 9.4868
Distance for Konstantinos and Rias is 7.6811
Distance for Konstantinos and Ben is 5.099
Distance for Konstantinos and Joan is 9.9499
Distance for Kristina and Sabrina is 5.831
Distance for Kristina and Sandrine is 6.7823
Distance for Kristina and Sevgi is 7.8102
Distance for Kristina and Rias is 3.7417
Distance for Kristina and Ben is 1.0
Distance for Kristina and Joan is 9.0554
Distance for Sabrina and Sandrine is 7.4833
Distance for Sabrina and Sevgi is 6.0828
Distance for Sabrina and Rias is 3.4641
Distance for Sabrina and Ben is 5.3852
Distance for Sabrina and Joan is 8.2462
Distance for Sandrine and Sevgi is 4.1231
Distance for Sandrine and Rias is 4.4721
Distance for Sandrine and Ben is 7.0
Distance for Sandrine and Joan is 4.4721
Distance for Sevgi and Rias is 4.5826
Distance for Sevgi and Ben is 7.4833
Distance for Sevgi and Joan is 2.2361
Distance for Rias and Ben is 3.6056
Distance for Rias and Joan is 6.3246
Distance for Ben and Joan is 8.775